<button class="close-button" {{action 'closeMenu'}}>X Close</button>
<ul>

  <li {{action 'closeMenu'}}>
    {{#link-to 'index' class="slide-menu-item" }}
      Home
    {{/link-to}}
  </li>

  <li {{action 'closeMenu'}}>
    {{#link-to 'check-box-component' class="slide-menu-item" }}
      CheckBoxComponent
    {{/link-to}}
  </li>

  <li {{action 'closeMenu'}}>
    {{#link-to 'select-box-component' class="slide-menu-item" }}
      SelectBoxComponent
    {{/link-to}}
  </li>

  <li {{action 'closeMenu'}}>
    {{#link-to 'panel-class' class="slide-menu-item"}}
      PanelClass
    {{/link-to}}
  </li>
</ul>
