<button class="close-button" {{action 'closeMenu'}}>&times;</button>
<ul {{action 'closeMenu'}}>
  {{link-to 'Home' 'index' tagName="li"}}
  {{link-to 'CheckBoxComponent' 'check-box-component' tagName="li"}}
  {{link-to 'SelectComponent' 'select-component' tagName="li"}}
  {{link-to 'SlideMenuComponent' 'slide-menu-component' tagName="li"}}
  {{link-to 'ContextMenuComponent' 'context-menu-component' tagName="li"}}
  {{link-to 'ModalWindowComponent' 'modal-window-component' tagName="li"}}
  {{link-to 'ModalDialogComponent' 'modal-dialog-component' tagName="li"}}
  {{link-to 'DialogService' 'dialog-service' tagName="li"}}
  {{link-to 'PanelClass' 'panel-class' tagName="li"}}
</ul>
