{{input id=(concat elementId '-menu-button') type="checkbox" checked=menuOpen class="menu-toggle"}}
{{#if showDefaultToggle}}
  <label for={{concat elementId '-menu-button'}}>&equiv;</label>
{{/if}}

<div class="uic-content-container {{if pushContent pushContentType}}">
  {{yield menuOpen}}
</div>

{{#if _menuTemplate}}
  <nav>
    {{partial _menuTemplate}}
  </nav>
{{else if _menuTemplates}}
  <nav>
    {{#each _menuTemplates as |menuTemplate|}}
      {{partial menuTemplate}}
    {{/each}}
  </nav>
{{/if}}

{{#if maskContent}}
  {{uic-content-mask class="slide-menu-mask" action="closeMenu"}}
{{/if}}
