{{#if showModal}}
  {{#if maskContent}}
    {{uic-content-mask class="active"}}
  {{/if}}
  {{#uic-modal class=modalClassNames}}

    <header class="uic-modal-header">
      {{#if title}}
        <h1 class="ellipsis">{{title}}</h1>
      {{/if}}

      {{#if showCloseButton}}
        {{#if closeModal}}
          {{uic-close-button action="closeModal"}}
        {{else}}
          {{#link-to parentRouteName tagName="button" class="uic-close-button"}}&times;{{/link-to}}
        {{/if}}
      {{/if}}
    </header>

    <div class="uic-modal-body">
      {{yield modal.params}}
    </div>

  {{/uic-modal}}
{{/if}}
