<h1 id="title">ember-ui-components</h1>

<p>
  This is an <a href="http://ember-cli.com/">Ember-cli</a> addon to be used
  with <a href="http://emberjs.com/">Ember.js</a>, which is a Javascript application
  framework.
</p>

<p>
  ember-ui-components, is a collection of common user interface components and CSS
  classes.
</p>

<h2>Components</h2>
<ul>
  <li>
    <a href="#check-box-component">CheckBoxComponent</a>
  </li>
  <li>
    <a href="#select-box-component">SelectBoxComponent</a>
  </li>
</ul>
<h2>CSS Classes</h2>
<ul>
  <li>
    <a href="#panel-class">panel</a>
  </li>
  <li>light</li>
  <li>dark</li>
  <li>shadow</li>
  <li>rounded-corners</li>
  <li>top-border.green</li>
  <li>top-border.yellow</li>
  <li>top-border.red</li>
</ul>

<div id="check-box-component" class="panel">

  <h2>CheckBoxComponent</h2>

  <p>A basic check-box component can be created with the following code:</p>

  <div class="panel code">
  <pre><code>
  &#123;&#123;check-box&#125;&#125;
  </code></pre>
  </div>

  <p>...which will produce the following HTML:</p>
  <div class="panel code">
  <pre><code>
  &lt;div class="ember-view check-box"&gt;
    &lt;input type="checkbox" class="ember-view ember-checkbox"&gt;
  &lt;/div&gt;
  </code></pre>
  </div>
  <p>...and will look like this:</p>

  <div class="panel code">
    {{check-box}}
  </div>

  <p>The check-box component looks and behaves like a standard HTML checkbox element.</p>
  <p>
    To make the checkbox do something usefull, assign a property to the `checked`
    attribute of the `check-box` component like this:
  </p>

  <div class="panel code">
  <pre><code>
  &#123;&#123;check-box checked=checkboxValue&#125;&#125;
  </code></pre>
  </div>


  <h3>checkboxId</h3>
  <p>
    If you provide a value for the `checkboxId` property then an extra `label`
    element will be rendered next to the `input` element.  This is used for styling
    the component and is required when using the provided CSS classes such as
    `slider` and `toggle`
  </p>

  <pre><code>
  &#123;&#123;check-box checkboxId="check-box-id"&#125;&#125;
  </code></pre>

  <pre><code>
  &lt;div class="ember-view check-box"&gt;
    &lt;input id="check-box-id" type="checkbox" class="ember-view ember-checkbox"&gt;
    &lt;label for="check-box-id"&gt;&lt;/label&gt;
  &lt;/div&gt;
  </code></pre>



  <h3>Block use</h3>

  <p>
    If you provide a template block to the component, the contents of the block
    will be rendered into a `span` element next to the checkbox.
  </p>

  <pre><code>
  &#123;&#123;#check-box&#125;}
    Basic check-box
  &#123;&#123;/check-box&#125;&#125;
  </code></pre>

  <pre><code>
  &lt;div class="ember-view check-box"&gt;
    &lt;input type="checkbox" class="ember-view ember-checkbox"&gt;
    &lt;span&gt;
      Basic check-box
    &lt;/span&gt;
  &lt;/div&gt;
  </code></pre>

  <div>
    {{#check-box}}
      Basic check-box
    {{/check-box}}
  </div>

  <p>
    ...or, if you provide a `checkboxId` property the block will be rendered into
    a `label` element instead - Doing this will allow the checkbox to be toggled
    by clicking the label element.
  </p>

  <pre><code>
  &#123;&#123;#check-box checkboxId="check-box-id"&#125;&#125;
    Basic check-box with checkboxId and label
  &#123;&#123;/check-box&#125;&#125;
  </code></pre>

  <pre><code>
  &lt;div class="ember-view check-box"&gt;
    &lt;input id="check-box" type="checkbox" class="ember-view ember-checkbox"&gt;
    &lt;label for="check-box"&gt;&lt;/label&gt;
    &lt;label for="check-box"&gt;
      Basic check-box with checkboxId and label
    &lt;/label&gt;
  &lt;/div&gt;
  </code></pre>



  <div>
    {{#check-box checked=checkboxValue1 checkboxId="check-box-with-block"}}
      Basic check-box with checkboxId and label
    {{/check-box}}
  </div>

  <h3>Classes</h3>

  <p>Various classes can be added to the check-box component to style it.</p>


  <pre><code>
  &#123;&#123;check-box class="slider"&#125;&#125;
  </code></pre>

  <div>
    {{checkbox-slider checked=checkboxValue2 checkboxId="check-box2"}}
    <label for="check-box2">check-box slider</label>
  </div>


  <pre><code>
  &#123;&#123;check-box class="slider dark"&#125;&#125;
  </code></pre>

  <div>
    {{check-box class="slider dark" checked=checkboxValue3 checkboxId="check-box3"}}
    <label for="check-box3">check-box slider dark</label>
  </div>


  <pre><code>
  &#123;&#123;check-box class="slider light"&#125;&#125;
  </code></pre>

  <div>
    {{check-box class="slider light" checked=checkboxValue4 checkboxId="check-box4"}}
    <label for="check-box4">check-box slider light</label>
  </div>


  <pre><code>
  &#123;&#123;check-box class="toggle"&#125;&#125;
  </code></pre>

  <div>
    {{check-box class="toggle" checked=checkboxValue5 checkboxId="check-box5"}}
    <label for="check-box5">check-box toggle</label>
  </div>


  <pre><code>
  &#123;&#123;check-box class="toggle green"&#125;&#125;
  </code></pre>

  <div>
    {{check-box class="toggle green" checked=checkboxValue6 checkboxId="check-box6"}}
    <label for="check-box6">check-box toggle green</label>
  </div>


  <pre><code>
  &#123;&#123;check-box class="toggle red"&#125;&#125;
  </code></pre>

  <div>
  {{check-box class="toggle red" checked=checkboxValue7 checkboxId="check-box7"}}
  <label for="check-box7">check-box toggle red</label>
  </div>


</div>

<div id="select-box-component" class="panel">

  <h2>SelectBoxComponent</h2>

  {{select-box
    selected=selectBoxValue
    options=selectBoxOptions
    placeholder="Please select..."}}

  <label>Selected: {{selectBoxValue}}</label><br>


  {{select-box
    class="light"
    selected=selectBoxValue2
    options=selectBoxOptions2
    placeholder="Please select..."}}

  <label>Selected: {{selectBoxValue2}}</label><br>

  {{select-box
    class="dark"
    selected=selectBoxValue3
    options=selectBoxOptions2
    placeholder="Please select..."}}

  <label>Selected: {{selectBoxValue3}}</label>
</div>

<div id="panel-class" class="panel">

  <h2>panel</h2>

  <p>There is no `panel` component - just some css classes.</p>

  <p>The `panel` class, when added to a `div` element, will create a basic panel.</p>

  <pre><code>
  &lt;div class="panel"&gt; ... &lt;/div&gt;
  </code></pre>

  <div class="panel">
    <h2>This is a basic panel</h2>
    <p>Class: `panel`</p>
  </div>

  <div class="panel top-border green">
    <h2>This is a panel</h2>
    <p>This one has a green top-border</p>
    <p>Classes: `panel`, `top-border`, `green`</p>
    <pre><code>
  &lt;div class="panel top-border green"&gt; ... &lt;/div&gt;
    </code></pre>
  </div>

  <div class="panel top-border yellow">
    <h2>This is a panel</h2>
    <p>This one has a yellow top-border</p>
    <p>Classes: `panel`, `top-border`, `yellow`</p>
    <pre><code>
  &lt;div class="panel top-border yellow"&gt; ... &lt;/div&gt;
    </code></pre>
  </div>

  <div class="panel top-border red">
    <h2>This is a panel</h2>
    <p>This one has a red top-border</p>
    <p>Classes: `panel`, `top-border`, `red`</p>
    <pre><code>
  &lt;div class="panel top-border red"&gt; ... &lt;/div&gt;
    </code></pre>
  </div>

</div>
{{outlet}}
