<h1 id="title">ember-ui-components</h1>

<div class="panel">

  <h2>check-box</h2>

  {{check-box checked=checkboxValue1 checkboxId="check-box1"}}
  <label for="check-box1">check-box</label><br>

  {{checkbox-slider checked=checkboxValue2 checkboxId="check-box2"}}
  <label for="check-box2">check-box slider</label><br>

  {{check-box class="slider dark" checked=checkboxValue3 checkboxId="check-box3"}}
  <label for="check-box3">check-box slider dark</label><br>


  {{check-box class="slider light" checked=checkboxValue4 checkboxId="check-box4"}}
  <label for="check-box4">check-box slider light</label><br>

  {{check-box class="toggle" checked=checkboxValue5 checkboxId="check-box5"}}
  <label for="check-box5">check-box toggle</label><br>

  {{check-box class="toggle green" checked=checkboxValue6 checkboxId="check-box6"}}
  <label for="check-box6">check-box toggle green</label><br>

  {{check-box class="toggle red" checked=checkboxValue7 checkboxId="check-box7"}}
  <label for="check-box7">check-box toggle red</label>
</div>

<div class="panel">

  <h2>select-box</h2>

  {{select-box
    selected=selectBoxValue
    options=selectBoxOptions
    placeholder="Please select..."}}

  <label>Selected: {{selectBoxValue}}</label><br>


  {{select-box
    class="light"
    selected=selectBoxValue2
    options=selectBoxOptions2
    placeholder="Please select..."}}

  <label>Selected: {{selectBoxValue2}}</label><br>

  {{select-box
    class="dark"
    selected=selectBoxValue3
    options=selectBoxOptions2
    placeholder="Please select..."}}

  <label>Selected: {{selectBoxValue3}}</label>
</div>

<div class="panel">

  <h2>panel</h2>


  <div class="panel top-border green">
    <h2>This is a panel</h2>
    <p>This one has a green top-border</p>
  </div>

  <div class="panel top-border yellow">
    <h2>This is a panel</h2>
    <p>This one has a yellow top-border</p>
  </div>

  <div class="panel top-border red">
    <h2>This is a panel</h2>
    <p>This one has a red top-border</p>
  </div>

  <div class="panel">
    <h2>This is a panel</h2>
    <p>This one has no top-border</p>
  </div>
</div>
{{outlet}}
