<div class="go-back-link">
  {{#link-to 'index'}}Back to index{{/link-to}}
</div>

<h1>ButtonComponent</h1>

<div class="panel">

  <h2><code>&#123;&#123;uic-button&#125;&#125;</code></h2>

  <h2>Description</h2>

  <p>
    The <code>uic-button</code> component creates a button element and gives it
    the css class name <code>{{#link-to 'button-class'}}uic-button{{/link-to}}</code>.
  </p>

  <h3>Basic use:</h3>

  {{code-panel name="button-basic.hbs"}}


  <h3>Advanced use:</h3>

  {{code-panel name="button-advanced.hbs"}}

  <div class="panel output">
    {{#uic-button}}
      Button Text
    {{/uic-button}}
  </div>

</div>

<div class="panel">

  <h2>Action</h2>

  <p>Pass an action to the button component:</p>

  {{code-panel name="button-action-example.hbs"}}

  <p>Handle the action in your controller/component:</p>

  {{code-panel name="button-action.js"}}

  <div class="panel output">
    {{! BEGIN-SNIPPET button-action-example }}
    {{#uic-button click=(action "doSomething")}}
      My Button
    {{/uic-button}}
    {{! END-SNIPPET }}
  </div>


</div>

<div class="panel">

  <h2>Disable</h2>

  {{code-panel name="button-disable-example.hbs"}}

  <div class="panel output">
    {{! BEGIN-SNIPPET button-disable-example }}
    {{#uic-button
      disabled=true}}

      My Button

    {{/uic-button}}
    {{! END-SNIPPET }}

  </div>


</div>

<div class="panel">

  <h2>Styles</h2>
  <p>On top of the base style there are a few other styles that can be used...</p>

  {{code-panel name="button-style-colors.hbs"}}

  <div class="panel output">
    {{! BEGIN-SNIPPET button-style-colors }}
    {{#uic-button}}My Button{{/uic-button}}
    {{#uic-button class="blue"}}My Button{{/uic-button}}
    {{#uic-button class="green"}}My Button{{/uic-button}}
    {{#uic-button class="yellow"}}My Button{{/uic-button}}
    {{#uic-button class="red"}}My Button{{/uic-button}}
    {{! END-SNIPPET }}
  </div>

  {{code-panel name="button-style-size.hbs"}}

  <div class="panel output">
    {{! BEGIN-SNIPPET button-style-size }}
    {{#uic-button class="large"}}My Button{{/uic-button}}
    {{#uic-button}}My Button{{/uic-button}}
    {{#uic-button class="small"}}My Button{{/uic-button}}
    {{#uic-button class="extra-small"}}My Button{{/uic-button}}
    {{! END-SNIPPET }}
  </div>
</div>
