<div class="go-back-link">
  {{#link-to 'index'}}Back to index{{/link-to}}
</div>

<h1>ButtonGroupComponent</h1>

<div class="panel">

  <h2><code>&#123;&#123;uic-button-group&#125;&#125;</code></h2>

  <h2>Description</h2>

  <p>
    The <code>uic-button-group</code> component creates a button group that can be
    used to visually groups together a collection of buttons.
  </p>

  {{code-panel name="button-group-basic.hbs"}}

  <p>Inside the button group you can place <code>uic-button</code> elements/components,
    or <code>uic-dropdown</code> components.</p>

  {{code-panel name="button-group-example.hbs"}}

  <div class="panel output">
    {{! BEGIN-SNIPPET button-group-example }}
    {{#uic-button-group}}
      {{#uic-button}}One{{/uic-button}}
      {{#uic-button}}Two{{/uic-button}}
      {{#uic-button}}Three{{/uic-button}}
      {{#uic-button}}Four{{/uic-button}}
    {{/uic-button-group}}
    {{! END-SNIPPET }}
  </div>

  {{code-panel name="button-group-dropdown-example.hbs"}}

  <div class="panel output">
    {{! BEGIN-SNIPPET button-group-dropdown-example }}
    {{#uic-button-group}}
      {{#uic-button}}One{{/uic-button}}
      {{#uic-button}}Two{{/uic-button}}
      {{#uic-button}}Three{{/uic-button}}
      {{#uic-button}}Four{{/uic-button}}
      {{#uic-dropdown}}
        <menuitem>Edit</menuitem>
        <menuitem>More...</menuitem>
      {{else}}
        {{#uic-button}}
          {{svg-triangle direction="down" fill="#999"}}
        {{/uic-button}}
      {{/uic-dropdown}}
    {{/uic-button-group}}
    {{! END-SNIPPET }}
  </div>

</div>

<div class="panel">

  {{#uic-button-group}}
    {{#uic-button}}One{{/uic-button}}
  {{/uic-button-group}}

  {{#uic-button-group}}
    {{#uic-button}}One{{/uic-button}}
    {{#uic-dropdown  class="uic-dropdown-toggle"}}
      <ul>
        <li {{action "edit"}}>Edit</li>
        <li {{action "edit"}}>More...</li>
      </ul>
    {{else}}
      {{#uic-button}}
        {{svg-triangle direction="down" fill="#999"}}
      {{/uic-button}}
    {{/uic-dropdown}}
  {{/uic-button-group}}

  {{#uic-button-group}}
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
  {{/uic-button-group}}

  {{#uic-button-group}}
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
    {{#uic-button}}Three{{/uic-button}}
  {{/uic-button-group}}

  {{#uic-button-group}}
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
    {{#uic-button}}Three{{/uic-button}}
    {{#uic-button}}Four{{/uic-button}}
  {{/uic-button-group}}

</div>

<div class="panel">

  {{#uic-button-group class="blue"}}
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
  {{/uic-button-group}}

  {{#uic-button-group class="green"}}
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
  {{/uic-button-group}}

  {{#uic-button-group class="yellow"}}
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
  {{/uic-button-group}}

  {{#uic-button-group class="red"}}
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
  {{/uic-button-group}}

</div>

<div class="panel">

  {{#uic-button-group class="large"}}
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
    {{#uic-dropdown  class="uic-dropdown-toggle"}}
      <ul>
        <li {{action "edit"}}>Edit</li>
        <li {{action "edit"}}>More...</li>
      </ul>
    {{else}}
      {{#uic-button}}
        {{svg-triangle direction="down" fill="#999" size="12"}}
      {{/uic-button}}
    {{/uic-dropdown}}
  {{/uic-button-group}}

  {{#uic-button-group}}
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
    {{#uic-dropdown  class="uic-dropdown-toggle"}}
      <ul>
        <li {{action "edit"}}>Edit</li>
        <li {{action "edit"}}>More...</li>
      </ul>
    {{else}}
      {{#uic-button}}
        {{svg-triangle direction="down" fill="#999"}}
      {{/uic-button}}
    {{/uic-dropdown}}
  {{/uic-button-group}}

  {{#uic-button-group class="small"}}
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
    {{#uic-dropdown  class="uic-dropdown-toggle"}}
      <ul>
        <li {{action "edit"}}>Edit</li>
        <li {{action "edit"}}>More...</li>
      </ul>
    {{else}}
      {{#uic-button}}
        {{svg-triangle direction="down" fill="#999" size="8"}}
      {{/uic-button}}
    {{/uic-dropdown}}
  {{/uic-button-group}}

  {{#uic-button-group class="extra-small"}}
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
    {{#uic-dropdown  class="uic-dropdown-toggle"}}
      <ul>
        <li {{action "edit"}}>Edit</li>
        <li {{action "edit"}}>More...</li>
      </ul>
    {{else}}
      {{#uic-button}}
        {{svg-triangle direction="down" fill="#999" size="7"}}
      {{/uic-button}}
    {{/uic-dropdown}}
  {{/uic-button-group}}

</div>
