<div class="go-back-link">
  {{#link-to 'index'}}Back to index{{/link-to}}
</div>

<h1>ButtonGroupClass</h1>

<div class="panel">

  <h2><code>.uic-button-group</code></h2>

  <h2>Description</h2>

  <p>
    The <code>uic-button-group</code> class creates a button group that can be
    used to visually groups together a collection of buttons.
  </p>

  {{code-panel name="button-group-class-basic.hbs"}}

  <p>Inside the button group you can place <code>uic-button</code> elements/components,
    or <code>uic-dropdown</code> components.</p>

  {{code-panel name="button-group-class-buttons.hbs"}}

  <div class="panel output">
    {{! BEGIN-SNIPPET button-group-class-buttons }}
    <div class="uic-button-group">
      {{#uic-button}}One{{/uic-button}}
      {{#uic-button}}Two{{/uic-button}}
      {{#uic-button}}Three{{/uic-button}}
      {{#uic-button}}Four{{/uic-button}}
    </div>
    {{! END-SNIPPET }}
  </div>

  {{code-panel name="button-group-class-dropdown.hbs"}}

  <div class="panel output">
    {{! BEGIN-SNIPPET button-group-class-dropdown }}
    <div class="uic-button-group">
      {{#uic-button}}One{{/uic-button}}
      {{#uic-button}}Two{{/uic-button}}
      {{#uic-button}}Three{{/uic-button}}
      {{#uic-button}}Four{{/uic-button}}
      {{#uic-dropdown}}
          <menuitem>Edit</menuitem>
          <menuitem>More...</menuitem>
      {{else}}
        {{#uic-button}}
          {{svg-triangle direction="down" fill="#999"}}
        {{/uic-button}}
      {{/uic-dropdown}}
    </div>
    {{! END-SNIPPET }}
  </div>

</div>

<div class="panel">

  <div class="uic-button-group">
    {{#uic-button}}One{{/uic-button}}
  </div>
  <div class="uic-button-group">
    {{#uic-button}}One{{/uic-button}}
    {{#uic-dropdown  class="uic-dropdown-toggle"}}
      <ul>
        <li {{action "edit"}}>Edit</li>
        <li {{action "edit"}}>More...</li>
      </ul>
    {{else}}
      {{#uic-button}}
        {{svg-triangle direction="down" fill="#999"}}
      {{/uic-button}}
    {{/uic-dropdown}}
  </div>
  <div class="uic-button-group">
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
  </div>
  <div class="uic-button-group">
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
    {{#uic-button}}Three{{/uic-button}}
  </div>
  <div class="uic-button-group">
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
    {{#uic-button}}Three{{/uic-button}}
    {{#uic-button}}Four{{/uic-button}}
  </div>

</div>
<div class="panel">

  <div class="uic-button-group blue">
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
  </div>
  <div class="uic-button-group green">
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
  </div>
  <div class="uic-button-group yellow">
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
  </div>

  <div class="uic-button-group red">
    {{#uic-button}}One{{/uic-button}}
    {{#uic-button}}Two{{/uic-button}}
  </div>

</div>
