<div class="go-back-link">
  {{#link-to 'index'}}Back to index{{/link-to}}
</div>
<h1>CheckBoxComponent</h1>

<div class="panel">

  <h2><code>&#123;&#123;uic-check-box&#125;&#125;</code></h2>

  <h2>Description</h2>

  <p>The CheckBoxComponent will create a checkbox element.</p>

  <h3>Basic use:</h3>

  {{code-panel name="check-box-basic.hbs"}}

  <h3>Advanced use:</h3>

  {{code-panel name="check-box-advanced.hbs"}}

  <div class="panel output">
    <div>
      {{code-panel name="check-box.hbs"}}
      {{! BEGIN-SNIPPET check-box}}
      {{uic-check-box}}
      {{! END-SNIPPET}}
    </div>
    <div>
      {{code-panel name="check-box-slider-light.hbs"}}
      {{! BEGIN-SNIPPET check-box-slider-light}}
      {{uic-check-box class="slider light"}}
      {{! END-SNIPPET}}
    </div>
    <div>
      {{code-panel name="check-box-toggle-green.hbs"}}
      {{! BEGIN-SNIPPET check-box-toggle-green}}
      {{uic-check-box class="toggle green"}}
      {{! END-SNIPPET}}
    </div>
  </div>
</div>
<div class="panel">
  <h2>Parameters</h2>
  <ul>

    <li>
      <h4>{Boolean} checked</h4>
      <p>Optional.</p>
      <p>
        Sets the state of the checkbox, checked (true), or un-checked (false).
      </p>
    </li>

    <li>
      <h4>{Boolean} disabled</h4>
      <p>Optional.</p>
      <p>
        Disables the checkbox. In addition to disabling the <code>input</code> element, the
        containing <code>div</code> is given the class name <code>disabled</code>.
      </p>
    </li>

    <li>
      <h4>{String} checkboxId</h4>
      <p>Optional.</p>
      <p>
        The checkbox element's <code>id</code> attribute will be given this value.
      </p>
    </li>

    <li>
      <h4>{String} class</h4>
      <p>Optional.</p>
      <p>
        This is the <code>class</code> attribute of the checkbox element's container <code>div</code>.
        There are some built-in CSS classes that can be applied, or you can set
        your own CSS class names here and define the class' properties in your
        stylesheet.
      </p>
    </li>

  </ul>

</div>


<div class="panel">
  <h2>Basic Checkbox</h2>

  <p>A basic check-box component can be created with the following code:</p>

  {{code-panel name="check-box-example.hbs"}}

  <p>...which will produce the following HTML:</p>

  {{code-panel name="check-box-output.hbs"}}

  <p>...and will look like this:</p>

  <div class="panel output">
    {{! BEGIN-SNIPPET check-box-example}}
    {{uic-check-box}}
    {{! END-SNIPPET}}
  </div>

  <p>The check-box component looks and behaves like a standard HTML checkbox element.</p>
  <p>
    To make the checkbox do something usefull, assign a property to the <code>checked</code>
    attribute of the <code>check-box</code> component like this:
  </p>

  {{code-panel name="check-box-checked.hbs"}}

</div>
<div class="panel">

  <h2>checkboxId</h2>
  <p>
    If you provide a value for the <code>checkboxId</code> property then that wil become the id of the checkbox element.
  </p>

  {{code-panel name="check-box-id.hbs"}}

  {{code-panel name="check-box-id-output.hbs"}}

</div>
<div class="panel">

  <h2>Classes</h2>

  <p>Various classes can be added to the check-box component to style it. They
    will be given the class name <code>check-box</code> by default.</p>

  <h3>slider</h3>

  {{code-panel name="check-box-slider.hbs"}}


  <div>
    {{! BEGIN-SNIPPET check-box-slider }}
    {{uic-check-box class="slider"}}
    {{! END-SNIPPET }}
  </div>


  {{code-panel name="check-box-slider-dark.hbs"}}

  <div>
    {{! BEGIN-SNIPPET check-box-slider-dark }}
    {{uic-check-box class="slider dark"}}
    {{! END-SNIPPET }}
  </div>


  {{code-panel name="check-box-slider-light.hbs"}}

  <div>
    {{! BEGIN-SNIPPET check-box-slider-light }}
    {{uic-check-box class="slider light"}}
    {{! END-SNIPPET }}
  </div>

  <h3>toggle</h3>

  {{code-panel name="check-box-toggle.hbs"}}

  <div>
    {{! BEGIN-SNIPPET check-box-toggle }}
    {{uic-check-box class="toggle"}}
    {{! END-SNIPPET }}
  </div>


  {{code-panel name="check-box-toggle-green.hbs"}}

  <div>
    {{! BEGIN-SNIPPET check-box-toggle-green }}
    {{uic-check-box class="toggle green"}}
    {{! END-SNIPPET }}
  </div>


  {{code-panel name="check-box-toggle-red.hbs"}}

  <div>
    {{! BEGIN-SNIPPET check-box-toggle-red }}
    {{uic-check-box class="toggle red"}}
    {{! END-SNIPPET }}
  </div>


</div>

{{outlet}}
