{{#link-to 'index'}}Back to index{{/link-to}}
<h1>CheckBoxComponent</h1>

<div class="panel">

  <h2>Description</h2>

  <p>The CheckBoxComponent will create a checkbox element.</p>

  <div class="panel code">
    <pre><code>&#123;&#123;check-box
  checked="checkbox value"
  disabled="true or false"
  checkboxId="add a unique ID here"
  class="add CSS class names here"&#125;&#125;</code></pre>
  </div>

  <div class="panel output">
    <div>
      {{check-box}}
    </div>
    <div>
      {{check-box class="slider light" checkboxId="demo1"}}
    </div>
    <div>
      {{check-box class="toggle green" checkboxId="demo2"}}
    </div>
  </div>

  <h2>Parameters</h2>
  <ul>

    <li>
      <h4>{Boolean} checked</h4>
      <p>Optional.</p>
      <p>
        Sets the state of the checkbox, checked (true), or un-checked (false).
      </p>
    </li>

    <li>
      <h4>{Boolean} disabled</h4>
      <p>Optional.</p>
      <p>
        Disables the checkbox.
      </p>
    </li>

    <li>
      <h4>{String} checkboxId</h4>
      <p>Optional.</p>
      <p>
        The checkbox element's `id` attribute will be given this value.  This
        attribute is optional, but is required when using some of the built-in
        CSS classes.
      </p>
    </li>

    <li>
      <h4>{String} class</h4>
      <p>Optional.</p>
      <p>
        This is the `class` attribute of the checkbox element's container `div`.
        There are some built-in CSS classes that can be applied, or you can set
        your own CSS class names here and define the class' properties in your
        stylesheet.
      </p>
    </li>

  </ul>

</div>


<div class="panel">
  <h2>Basic Checkbox</h2>

  <p>A basic check-box component can be created with the following code:</p>

  <div class="panel code">
    <pre><code>&#123;&#123;check-box&#125;&#125;</code></pre>
  </div>

  <p>...which will produce the following HTML:</p>

  <div class="panel code">
    <pre><code>&lt;div class="ember-view check-box"&gt;
  &lt;input type="checkbox" class="ember-view ember-checkbox"&gt;
&lt;/div&gt;</code></pre>
  </div>

  <p>...and will look like this:</p>

  <div class="panel code">
    {{check-box}}
  </div>

  <p>The check-box component looks and behaves like a standard HTML checkbox element.</p>
  <p>
    To make the checkbox do something usefull, assign a property to the `checked`
    attribute of the `check-box` component like this:
  </p>

  <div class="panel code">
    <pre><code>&#123;&#123;check-box checked=checkboxValue&#125;&#125;</code></pre>
  </div>

</div>
<div class="panel">

  <h2>checkboxId</h2>
  <p>
    If you provide a value for the `checkboxId` property then an extra `label`
    element will be rendered next to the `input` element.  This is used for styling
    the component and is required when using some of the provided CSS classes such
    as `slider` and `toggle`
  </p>

  <div class="panel code">
    <pre><code>&#123;&#123;check-box checkboxId="check-box-id"&#125;&#125;</code></pre>
  </div>

  <div class="panel code">
    <pre><code>&lt;div class="ember-view check-box"&gt;
  &lt;input id="check-box-id" type="checkbox" class="ember-view ember-checkbox"&gt;
  &lt;label for="check-box-id"&gt;&lt;/label&gt;
&lt;/div&gt;</code></pre>
  </div>

</div>
<div class="panel">

  <h2>Classes</h2>

  <p>Various classes can be added to the check-box component to style it. They
    will be given the class name `check-box` by default.</p>

  <h3>slider</h3>

  <p></p>
  <div class="panel code">
    <pre><code>&#123;&#123;check-box class="slider"&#125;&#125;</code></pre>
  </div>


  <div>
    {{check-box class="slider" checkboxId="check-box2"}}
    <label for="check-box2">slider</label>
  </div>


  <div class="panel code">
    <pre><code>&#123;&#123;check-box class="slider dark"&#125;&#125;</code></pre>
  </div>

  <div>
    {{check-box class="slider dark" checkboxId="check-box3"}}
    <label for="check-box3">slider dark</label>
  </div>


  <div class="panel code">
    <pre><code>&#123;&#123;check-box class="slider light"&#125;&#125;</code></pre>
  </div>

  <div>
    {{check-box class="slider light" checkboxId="check-box4"}}
    <label for="check-box4">slider light</label>
  </div>

  <h3>toggle</h3>

  <div class="panel code">
    <pre><code>&#123;&#123;check-box class="toggle"&#125;&#125;</code></pre>
  </div>

  <div>
    {{check-box class="toggle" checkboxId="check-box5"}}
    <label for="check-box5">toggle</label>
  </div>


  <div class="panel code">
    <pre><code>&#123;&#123;check-box class="toggle green"&#125;&#125;</code></pre>
  </div>

  <div>
    {{check-box class="toggle green" checkboxId="check-box6"}}
    <label for="check-box6">toggle green</label>
  </div>


  <div class="panel code">
    <pre><code>&#123;&#123;check-box class="toggle red"&#125;&#125;</code></pre>
  </div>

  <div>
    {{check-box class="toggle red" checkboxId="check-box7"}}
    <label for="check-box7">toggle red</label>
  </div>


</div>
