<h2>CheckBoxComponent</h2>

<div class="panel">
  <h3>Basic Checkbox</h3>

  <p>A basic check-box component can be created with the following code:</p>

  <div class="panel code">
    <pre><code>&#123;&#123;check-box&#125;&#125;</code></pre>
  </div>

  <p>...which will produce the following HTML:</p>

  <div class="panel code">
    <pre><code>  &lt;div class="ember-view check-box"&gt;
    &lt;input type="checkbox" class="ember-view ember-checkbox"&gt;
  &lt;/div&gt;</code></pre>
  </div>

  <p>...and will look like this:</p>

  <div class="panel code">
    {{check-box}}
  </div>

  <p>The check-box component looks and behaves like a standard HTML checkbox element.</p>
  <p>
    To make the checkbox do something usefull, assign a property to the `checked`
    attribute of the `check-box` component like this:
  </p>

  <div class="panel code">
    <pre><code>&#123;&#123;check-box checked=checkboxValue&#125;&#125;</code></pre>
  </div>

</div>
<div class="panel">

  <h3>checkboxId</h3>
  <p>
    If you provide a value for the `checkboxId` property then an extra `label`
    element will be rendered next to the `input` element.  This is used for styling
    the component and is required when using the provided CSS classes such as
    `slider` and `toggle`
  </p>

  <div class="panel code">
    <pre><code>&#123;&#123;check-box checkboxId="check-box-id"&#125;&#125;</code></pre>
  </div>

  <div class="panel code">
    <pre><code>  &lt;div class="ember-view check-box"&gt;
    &lt;input id="check-box-id" type="checkbox" class="ember-view ember-checkbox"&gt;
    &lt;label for="check-box-id"&gt;&lt;/label&gt;
  &lt;/div&gt;</code></pre>
  </div>

</div>
<div class="panel">

  <h3>Block use</h3>

  <p>
    If you provide a template block to the component, the contents of the block
    will be rendered into a `span` element next to the checkbox.
  </p>

  <div class="panel code">
    <pre><code>  &#123;&#123;#check-box&#125;}
    Basic check-box
  &#123;&#123;/check-box&#125;&#125;</code></pre>
  </div>

  <div class="panel code">
    <pre><code>  &lt;div class="ember-view check-box"&gt;
    &lt;input type="checkbox" class="ember-view ember-checkbox"&gt;
    &lt;span&gt;
      Basic check-box
    &lt;/span&gt;
  &lt;/div&gt;</code></pre>
  </div>

  <div class="panel code">
    {{#check-box}}
      Basic check-box
    {{/check-box}}
  </div>

  <p>
    ...or, if you provide a `checkboxId` property the block will be rendered into
    a `label` element instead - Doing this will allow the checkbox to be toggled
    by clicking the label element.
  </p>

  <div class="panel code">
    <pre><code>  &#123;&#123;#check-box checkboxId="check-box-id"&#125;&#125;
    Basic check-box with checkboxId and label
  &#123;&#123;/check-box&#125;&#125;</code></pre>
  </div>

  <div class="panel code">
    <pre><code>  &lt;div class="ember-view check-box"&gt;
    &lt;input id="check-box" type="checkbox" class="ember-view ember-checkbox"&gt;
    &lt;label for="check-box"&gt;&lt;/label&gt;
    &lt;label for="check-box"&gt;
      Basic check-box with checkboxId and label
    &lt;/label&gt;
  &lt;/div&gt;</code></pre>
  </div>



  <div class="panel code">
    {{#check-box checked=checkboxValue1 checkboxId="check-box-with-block"}}
      Basic check-box with checkboxId and label
    {{/check-box}}
  </div>

</div>
<div class="panel">
  
  <h3>Classes</h3>

  <p>Various classes can be added to the check-box component to style it.</p>


  <div><pre><code>
  &#123;&#123;check-box class="slider"&#125;&#125;
  </code></pre></div>


  <div>
    {{checkbox-slider checked=checkboxValue2 checkboxId="check-box2"}}
    <label for="check-box2">check-box slider</label>
  </div>


  <div><pre><code>
  &#123;&#123;check-box class="slider dark"&#125;&#125;
  </code></pre></div>

  <div>
    {{check-box class="slider dark" checked=checkboxValue3 checkboxId="check-box3"}}
    <label for="check-box3">check-box slider dark</label>
  </div>


  <pre><code>
  &#123;&#123;check-box class="slider light"&#125;&#125;
  </code></pre>

  <div>
    {{check-box class="slider light" checked=checkboxValue4 checkboxId="check-box4"}}
    <label for="check-box4">check-box slider light</label>
  </div>


  <pre><code>
  &#123;&#123;check-box class="toggle"&#125;&#125;
  </code></pre>

  <div>
    {{check-box class="toggle" checked=checkboxValue5 checkboxId="check-box5"}}
    <label for="check-box5">check-box toggle</label>
  </div>


  <pre><code>
  &#123;&#123;check-box class="toggle green"&#125;&#125;
  </code></pre>

  <div>
    {{check-box class="toggle green" checked=checkboxValue6 checkboxId="check-box6"}}
    <label for="check-box6">check-box toggle green</label>
  </div>


  <pre><code>
  &#123;&#123;check-box class="toggle red"&#125;&#125;
  </code></pre>

  <div>
  {{check-box class="toggle red" checked=checkboxValue7 checkboxId="check-box7"}}
  <label for="check-box7">check-box toggle red</label>
  </div>


</div>
