<h1>ContextMenuComponent</h1>

{{#context-menu as |contextMenuParams|}}
  <ul>
    <li {{action "edit"}}>Edit</li>
    {{#sub-menu title="Sub Menu..."}}
      <ul>
        <li {{action "new"}}>New...</li>
        <li {{action "edit"}}>Do more stuff...</li>
        <li {{action "edit"}}>Do more stuff...</li>
        <li {{action "edit"}}>Do more stuff...</li>
      </ul>
    {{/sub-menu}}
    <li {{action "edit"}}>Do more stuff...</li>
    <li {{action "edit"}}>Do more stuff...</li>

  </ul>
  {{#if contextMenuParams.event.altKey}}
    <hr />
    <ul>
      <li {{action "delete"}}>Delete</li>
    </ul>
  {{/if}}
{{else}}
  <div class="panel">
    <p>Right-click inside the panel.</p>
    <p>Try right-click while holding ALT</p>
  </div>
{{/context-menu}}

{{#context-menu as |contextMenuParams|}}
  <ul>
    <li {{action "edit" bubbles=true}}>Edit</li>
  </ul>
  {{#if contextMenuParams.event.altKey}}
    <hr />
    <ul>
      <li {{action "delete"}}>Delete</li>
    </ul>
  {{/if}}
{{else}}
  <div class="panel">
    <p>Right-click inside the panel.</p>
    <p>Try right-click while holding ALT</p>
  </div>
{{/context-menu}}
