<div class="go-back-link">
  {{#link-to 'index'}}Back to index{{/link-to}}
</div>

<h1>DialogService</h1>

<div class="panel">
  <h2>Description</h2>
  <p>The `DialogService` can be used to display a dialog to the user.</p>
</div>

<div class="panel">

  <h2>Alert</h2>

  <div>
    <button {{action "openAlert"}}>Click here</button>
  </div>
</div>

<div class="panel">

  <h2>Confirm</h2>
  <div>
    <button {{action "openConfirm"}}>Click here</button>

    Result of confirmation: {{result}}
  </div>
</div>

<div class="panel">

  <h2>openModal</h2>
  <div>
    <button {{action "openDialog"}}>Click here</button>
  </div>
</div>

{{outlet}}
