<h1 id="title">ember-ui-components</h1>

<p>
  This is an <a href="http://ember-cli.com/">Ember-cli</a> addon to be used
  with <a href="http://emberjs.com/">Ember.js</a>, which is a Javascript application
  framework.
</p>

<p>
  ember-ui-components, is a collection of common user interface components and CSS
  classes.
</p>
<section class="toc">
  <h2>Components</h2>
  <ul>
    {{link-to 'CheckBox' 'check-box-component' tagName="li"}}
    {{link-to 'Select' 'select-component' tagName="li"}}
    {{link-to 'SlideMenu' 'slide-menu-component' tagName="li"}}
    {{link-to 'ContextMenu' 'context-menu-component' tagName="li"}}
    {{link-to 'Dropdown' 'dropdown-component' tagName="li"}}
    {{link-to 'ModalWindow' 'modal-window-component' tagName="li"}}
    {{link-to 'ModalDialog' 'modal-dialog-component' tagName="li"}}
  </ul>
  <h2>Services</h2>
  <ul>
    {{link-to 'Dialog' 'dialog-service' tagName="li"}}
  </ul>
  <h2>CSS Classes</h2>
  <ul>
    {{link-to 'Button' 'button-class' tagName="li"}}
    {{link-to 'Panel' 'panel-class' tagName="li"}}
  </ul>
</section>

{{outlet}}
