<h1 id="title">ember-ui-components</h1>

<p>
  This is an <a href="http://ember-cli.com/">Ember-cli</a> addon to be used
  with <a href="http://emberjs.com/">Ember.js</a>, which is a Javascript application
  framework.
</p>

<p>
  ember-ui-components, is a collection of common user interface components and CSS
  classes.
</p>
<section class="toc">
  <h2>Components</h2>
  <ul>
    {{link-to 'CheckBoxComponent' 'check-box-component' tagName="li"}}
    {{link-to 'SelectComponent' 'select-component' tagName="li"}}
    {{link-to 'SlideMenuComponent' 'slide-menu-component' tagName="li"}}
    {{link-to 'ContextMenuComponent' 'context-menu-component' tagName="li"}}
    {{link-to 'ModalWindowComponent' 'modal-window-component' tagName="li"}}
    {{link-to 'ModalDialogComponent' 'modal-dialog-component' tagName="li"}}
  </ul>
  <h2>Services</h2>
  <ul>
    {{link-to 'DialogService' 'dialog-service' tagName="li"}}
  </ul>
  <h2>CSS Classes</h2>
  <ul>
    {{link-to 'PanelClass' 'panel-class' tagName="li"}}
    <li>light</li>
    <li>dark</li>
    <li>shadow</li>
    <li>rounded-corners</li>
    <li>top-border.green</li>
    <li>top-border.yellow</li>
    <li>top-border.red</li>
  </ul>
</section>

{{outlet}}
