<h1 id="title">ember-ui-components</h1>

<p>
  This is an <a href="http://ember-cli.com/">Ember-cli</a> addon to be used
  with <a href="http://emberjs.com/">Ember.js</a>, which is a Javascript application
  framework.
</p>

<p>
  Ember-ui-components, is a collection of common user interface components and CSS
  classes.
</p>

<h2>Install</h2>

The package can be installed from <a href="https://www.npmjs.com/package/ember-ui-components" class="npm-link" target="_blank">npm</a>.

<div class="panel code">
  <pre><code>ember install ember-ui-components</code></pre>
</div>

<h2>Source code</h2>
The source code can be found on <a href="https://github.com/lozjackson/ember-ui-components" class="github-link" target="_blank">Github</a>.

<section class="toc">
  <h2>Components</h2>
  <ul>
    <li>
      {{link-to 'Button' 'button-component'}}
    </li>
    <li>
      {{link-to 'ButtonGroup' 'button-group-component'}}
    </li>
    <li>
      {{link-to 'CheckBox' 'check-box-component'}}
    </li>
    <li>
      {{link-to 'ContextMenu' 'context-menu-component'}}
    </li>
    <li>
      {{link-to 'Dropdown' 'dropdown-component'}}
    </li>
    <li>
      {{link-to 'FormElement' 'form-element-component'}}
    </li>
    <li>
      {{link-to 'Fieldset' 'fieldset-component'}}
    </li>
    <li>
      {{link-to 'Input' 'input-component'}}
    </li>
    <li>
      {{link-to 'ModalDialog' 'modal-dialog-component'}}
    </li>
    <li>
      {{link-to 'ModalWindow' 'modal-window-component'}}
    </li>
    <li>
      {{link-to 'Select' 'select-component'}}
    </li>
    <li>
      {{link-to 'SlideMenu' 'slide-menu-component'}}
    </li>
    <li>
      {{link-to 'Switch' 'switch-component'}}
    </li>
    <li>
      {{link-to 'Tabs' 'tabs-component'}}
    </li>
  </ul>
  <h2>Services</h2>
  <ul>
    <li>
      {{link-to 'Dialog' 'dialog-service'}}
    </li>
  </ul>
  <h2>CSS Classes</h2>
  <ul>
    <li>
      {{link-to 'Button' 'button-class'}}
    </li>
    <li>
      {{link-to 'ButtonGroup' 'button-group-class'}}
    </li>
    <li>
      {{link-to 'Fieldset' 'fieldset-class'}}
    </li>
    <li>
      {{link-to 'FormElement' 'form-element-class'}}
    </li>
    <li>
      {{link-to 'Panel' 'panel-class'}}
    </li>
  </ul>
</section>

{{outlet}}
