<div class="go-back-link">
  {{#link-to 'index'}}Back to index{{/link-to}}
</div>

<h1>ModalWindowComponent</h1>


<div class="panel">

  <h2><code>&#123;&#123;uic-modal-window&#125;&#125;</code></h2>

  <h2>Description</h2>

  <p>The <code>ModalWindowComponent</code> can be used to create a modal.</p>

  {{#uic-button action=(open-modal "demo-modal") class="blue"}}
    Click here
  {{/uic-button}}

  {{#uic-modal-window id="demo-modal" closeModal=(close-modal)}}
    <h2>Modal Window Component</h2>
    <p>This is a <code>ModalWindowComponent</code>.</p>
  {{/uic-modal-window}}

</div>

<div class="panel">

  <h2>Basic use:</h2>

{{! BEGIN-SNIPPET basic-use }}
{{#uic-modal-window}}

  ...your modal content here...

{{/uic-modal-window}}
{{! END-SNIPPET }}

  <div class="panel code">
    {{code-snippet name="basic-use.hbs"}}
  </div>

  <h2>Advanced use:</h2>

  <div class="panel code">
    <pre><code>&#123;&#123;#uic-modal-window
  id="modal-id"
  showModal="true or false"
  closeModal="action-name"
  as |params|&#125;&#125;

  ...your modal content here...

&#123;&#123;/uic-modal-window&#125;&#125;</code></pre>
  </div>

</div>

<div class="panel">

  <h2>Using the ModalService</h2>

  <p>
    You can use the {{#link-to 'modal-service'}}<code>ModalService</code>{{/link-to}}
    to display the contents of the modal.  The <code>ModalService</code> comes
    with two helpers - <code>open-modal</code> and <code>close-modal</code>.
  </p>
  <p>
    When using the <code>ModalService</code> you need to set the <code>id</code> of the
    <code>ModalWindowComponent</code> and also provide a method/action for the
    <code>closeModal</code> action.
  </p>

  <div class="panel code">
    {{code-snippet name="basic-modal-window.hbs"}}
  </div>

{{! BEGIN-SNIPPET basic-modal-window }}
{{#uic-modal-window id="basic-modal" closeModal=(close-modal)}}

  <h2>Basic Modal</h2>

{{/uic-modal-window}}
{{! END-SNIPPET }}

  <h3><code>open-modal</code></h3>
  <p>
    Open the modal using the <code>open-modal</code> helper, passing in the
    <code>id</code> of the <code>ModalWindowComponent</code> as the first argument:
  </p>

  <div class="panel code">
    {{code-snippet name="basic-modal-button.hbs"}}
  </div>
  <div class="panel output">
    {{! BEGIN-SNIPPET basic-modal-button }}
    {{#uic-button action=(open-modal "basic-modal")}}
      Click here
    {{/uic-button}}
    {{! END-SNIPPET }}
  </div>

  <h3><code>close-modal</code></h3>
  <p>
    You can use the <code>close-modal</code> helper method to close a modal that
    has been opened using the <code>ModalService</code>.
  </p>

  <div class="panel code">
    {{code-snippet name="close-modal-helper.hbs"}}
  </div>

{{! BEGIN-SNIPPET first-close-modal-helper }}
{{#uic-modal-window closeModal=(close-modal)}}

  ...modal content...

{{/uic-modal-window}}
{{! END-SNIPPET }}

<p>
  The following example uses the <code>close-modal</code> helper for the
  <code>closeModal</code> action of the <code>ModalWindowComponent</code> and
  also a close button inside the modal body.
</p>

<div class="panel code">
  {{code-snippet name="second-close-modal-helper.hbs"}}
</div>

{{! BEGIN-SNIPPET second-close-modal-helper }}
{{#uic-modal-window id="close-modal-helper-example" closeModal=(close-modal)}}

  <p>...modal content...</p>

  {{uic-button action=(close-modal) text="Close"}}

{{/uic-modal-window}}
{{! END-SNIPPET }}

<div class="panel output">
  {{#uic-button action=(open-modal "close-modal-helper-example")}}
    Click here
  {{/uic-button}}
</div>


</div>

<div class="panel">

  <h2>ModalWindow</h2>
  <p>This modal is opened using the {{#link-to 'modal-service'}}<code>ModalService</code>{{/link-to}} and is passed a <code>model</code>.</p>
  <div>
    <button class="uic-button blue" {{action (open-modal "another-modal" "Foo")}}>Foo</button>
    <button class="uic-button blue" {{action (open-modal "another-modal" "Bar")}}>Bar</button>

    {{#uic-modal-window
      id="another-modal"
      title="A Modal"
      modalClassNames="my-modal"
      closeModal=(close-modal)
      as |params|}}
      <h2>Modal</h2>
      <p>model: {{params.model}}</p>
      <div>
        <button class="uic-button" {{action (close-modal)}}>Close</button>
      </div>
    {{/uic-modal-window}}
  </div>
</div>

<div class="panel">

  <h2>ModalWindow</h2>
  <div>
    <button class="uic-button blue" {{action "toggle" "firstModal"}}>Click here</button>
    {{#uic-modal-window
      title="Modal Window"
      showModal=firstModal
      modalClassNames="my-modal"
      closeModal=(action "toggle" "firstModal")}}
      <h2>Modal 1</h2>
      <div>
        <button class="uic-button" {{action "toggle" "firstModal"}}>Close</button>
      </div>
    {{/uic-modal-window}}
  </div>
</div>

<div class="panel">

  <h2>Routed ModalWindow</h2>

  <div class="panel code">
    {{code-snippet name="routed-modal.hbs"}}
  </div>

  <div>
    {{link-to "Click here" "modal-window-component.modal" class="uic-button blue" tagName="button"}}
  </div>
</div>

{{outlet}}
