<div class="go-back-link">
  {{#link-to 'index'}}Back to index{{/link-to}}
</div>

<h1>ModalDialogComponent</h1>


<h2><code>\{{uic-modal-dialog}}</code></h2>

<p>
  You can open a modal dialog using the {{#link-to 'dialog-service'}}<code>DialogService</code>{{/link-to}}.
  There are two built-in modal dialog types - <code>alert</code> and <code>confirm</code>.
</p>

<hr>

<h2>Alert</h2>

<p>
  To open an <code>alert</code> dialog using the {{#link-to 'dialog-service'}}<code>DialogService</code>{{/link-to}}
  call <code>DialogService.alert("Your message...")</code>.
</p>

{{code-panel name="modal-dialog-alert.js"}}

<div>
  <button class="uic-button blue" {{action openAlert}}>Click here</button>
</div>

<p>
  From a template you can use the <code>\{{alert "Your message..."}}</code> helper
  with an <code>action</code>.
</p>

{{#uic-button click=(alert "Something happened")}}click=(alert "Something happened"){{/uic-button}}
<button class="uic-button" {{action (alert "Something happened")}}>\{{action (alert "Something happened")}}</button>

<hr>


<h2>Confirm</h2>

<p>
  To open a <code>confirm</code> dialog using the {{#link-to 'dialog-service'}}<code>DialogService</code>{{/link-to}}
  call <code>DialogService.confirm("Your message...")</code>.
</p>

{{code-panel name="modal-dialog-confirm.js"}}

<p>
  The <code>confirm</code> method returns a promise which resolves when the user
  clicks <code>ok</code>, and rejects when the user clicks <code>cancel</code>.
</p>

<div>
  <button class="uic-button blue" {{action openConfirm}}>Click here</button>
  <p>Result of confirmation: {{result}}</p>
</div>
<p>You can use the <code>\{{confirm}}</code> helper inside a template.</p>

{{code-panel name="confirm-helper-example.hbs"}}

<p>
  The helper takes three arguments.
</p>
<ul>
  <li>your message.</li>
  <li>method to call if the user clicks `ok`</li>
  <li>method to call if the user clicks `cancel`</li>
</ul>
<div>

  <button class="uic-button blue" {{action (confirm "something?" doSomething cancelSomething)}}>Confirm</button>
  <button class="uic-button blue" {{action (confirm (hash title="Something BIG" body="happened?") doSomething cancelSomething)}}>Confirm</button>
  {{uic-button
    text="click me"
    click=(confirm "You clicked me!" (action set "result" "Confirmed") (action set "result" "Cancelled"))}}

</div>
<hr>

<h2>openModal</h2>
<div>
  <button class="uic-button blue" {{action openDialog}}>Click here</button>
</div>


{{outlet}}
