<div class="go-back-link">
  {{#link-to 'index'}}Back to index{{/link-to}}
</div>

<h1>ModalWindowComponent</h1>


<div class="panel">

  <h2><code>&#123;&#123;uic-modal-window&#125;&#125;</code></h2>

</div>

<div class="panel">

  <h2>ModalWindow</h2>
  <p>This modal is opened using the {{#link-to 'modal-service'}}<code>ModalService</code>{{/link-to}}.</p>
  
  
  <button class="uic-button blue" {{action (open-modal "my-modal-window")}}>Click here</button>
  
  
  {{#uic-modal-window id="my-modal-window" title="Modal Window" modalClassNames="my-modal" closeModal=(close-modal)}}
    <h2>My Modal</h2>
    <p>Opened using the {{#link-to 'modal-service'}}<code>ModalService</code>{{/link-to}}.</p>
    <p>id: <code>my-modal-window</code></p>
    <div>
      <button class="uic-button" {{action (close-modal)}}>Close</button>
    </div>
  {{/uic-modal-window}}

</div>

<div class="panel">

  <h2>ModalWindow</h2>
  <p>This modal is opened using the {{#link-to 'modal-service'}}<code>ModalService</code>{{/link-to}} and is passed a <code>model</code>.</p>
  <div>
    <button class="uic-button blue" {{action (open-modal "another-modal" "Foo")}}>Foo</button>
    <button class="uic-button blue" {{action (open-modal "another-modal" "Bar")}}>Bar</button>
    
    {{#uic-modal-window 
      id="another-modal"
      title="A Modal"
      modalClassNames="my-modal" 
      closeModal=(close-modal) 
      as |params|}}
      <h2>Modal</h2>
      <p>model: {{params.model}}</p>
      <div>
        <button class="uic-button" {{action (close-modal)}}>Close</button>
      </div>
    {{/uic-modal-window}}
  </div>
</div>

<div class="panel">

  <h2>ModalWindow</h2>
  <div>
    <button class="uic-button blue" {{action "toggle" "firstModal"}}>Click here</button>  
    {{#uic-modal-window 
      title="Modal Window" 
      showModal=firstModal 
      modalClassNames="my-modal" 
      closeModal=(action "toggle" "firstModal")}}
      <h2>Modal 1</h2>
      <div>
        <button class="uic-button" {{action "toggle" "firstModal"}}>Close</button>
      </div>
    {{/uic-modal-window}}
  </div>
</div>

<div class="panel">

  <h2>Routed ModalWindow</h2>
  <div>
    <button class="uic-button blue" {{action "openRoutedDialog"}}>Click here</button>
  </div>
</div>

{{outlet}}
